#lxner {
	position: absolute;
	top: 30px;
	left: 30px;
	
	width: 100px;
	height: 100px;
	background: #ff8888;
}

#rizza {
	position: absolute;
	top: 60px;
	left: 60px;
	
	width: 100px;
	height: 100px;
	background: #7e89eb;
}
#tdd {
	position: absolute;
	top: 90px;
	left: 90px;
	
	width: 100px;
	height: 100px;
	background: green;
}