#parent {
	width: 500px;
	height: 400px;
	margin: 0 auto;
	border: 1px solid red;
    background-color: aqua;
}
#child {
    margin-left: 20px;
    text-align: center;
    margin-top: 20px;
	width: 150px;
	height: 150px;
	border: 1px solid green;
    background-color: white;
}
#child1 {
    margin-left: 300px;
    margin-top: 50px;
	width: 150px;
	height: 150px;
	border: 1px solid green;
    background-color: white;
}