a {
	color: red;
}
a:hover {
	text-decoration: none; /*все ссылки кроме hover красными*/
}

/*a.zzz {
	color: red;
}
a.zzz:hover {
	text-decoration: none;
} 
#block a.zzz {
	color: red;
}
#block a.zzz:hover {
	text-decoration: none;
}
.block a.zzz {
	color: red;
}
.block a.zzz:hover {
	text-decoration: none;
} */